Checks: >
  -*,
  cppcoreguidelines-*,
  clang-analyzer-*
#WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
#AnalyzeTemporaryDtors: true
FormatStyle: none

#-*,
#cppcoreguidelines-*,
#bugprone-*,
#performance-*,
#readability-*,
#clang-analyzer-*,